$offset: 120px;

.sign-up {
  display: flex;
  flex-flow: column wrap;
  overflow-x: scroll;

  &__key--times {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px $offset;
    width: 100%;
    display: flex;
    font-size: 10px;

    li {
      min-width: 50px;
      display: block;
      text-align: center;
      padding: 10px 0px;
      background: black;
      color: white;
    }
  }
}

.row {
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

  &__day {
    min-width: calc(#{$offset} - 1em);
    display: flex;
    align-items: center;
    padding-left: 1em;
  }

	&__cell {
		height: 25px;
		background: #ffeaa7;
    border: none;
		border-right: 1px solid #FFFFFF;
    width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

    &:hover {
      background: darken(#ffeaa7, 10%);
    }
	}
}
